<html>
<head>
    <title>Sales Department</title>
    <style>
        table {
            width: 50%; /* Ширина таблицы */
            border-collapse: collapse;
            border: 1px solid gray;
        }

        td {
            padding: 5px; /* Поля в ячейках */
            vertical-align: top; /* Выравнивание по верхнему краю ячеек */
            horiz-align: center;
            text-align: center;
        }

        th{
            border-collapse: collapse;
            border: 1px solid gray;
        }
    </style>
</head>
<body>

<h1>Client Filter by Name/Company</h1>
<a href="/main">Back</a>
<form action="/clientFilter" method="get">
    <input type="text" name="key" placeholder="Search"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Search</button>
</form>
<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name/Company
        </th>
        <th>
            Phone number
        </th>
        <th>

        </th>
    </tr>
    {{#clients}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{number}}</td>
        <td>
            <form>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <button style="background-color: cornflowerblue; border: cadetblue" type="submit" name="update" value="{{id}}">Edit</button>
            </form>
        </td>
    </tr>
    {{/clients}}
</table>
</body>
</html>