<html>
<head>
    <title>Sales Department</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <style>
        table {
            width: 100%; /* Ширина таблицы */
            border-collapse: collapse;
            border: 1px solid gray;
        }

        td {
            padding: 5px; /* Поля в ячейках */
            vertical-align: top; /* Выравнивание по верхнему краю ячеек */
            horiz-align: center;
            text-align: center;
        }

        th{
            border-collapse: collapse;
            border: 1px solid gray;
        }
    </style>
</head>
<body>
<div>
    Add new client:
</div>
<form method="post" >
    <input type="text" name="name" placeholder="FullName/Company"/>
    <input type="text" name="number" placeholder="Phone Number"/>
    <button type="submit">Add</button>
</form>
<div>
    Add new Order:
</div>
<form method="post" action="/add">
    <select name="select">
        {{#clientSel}}
        <option value="{{id}}">{{name}}</option>
        {{/clientSel}}
    </select>
    <input type="number" step="0.01" name="cost" placeholder="Price"/>
    <button type="submit">Add</button>
</form>
<table>
    <tr>
        <td style="horiz-align: right">
            <a href="/clientFilter?key=">Edit Clients list</a>
        </td>
        <td style="horiz-align: right">
            <a href="/orderFilter?key=">Edit Orders list</a>
        </td>
    </tr>
</table>

<table>
    <tr>
        <th style="vertical-align: top">
            <div>
                Clients list
            </div>
            <table>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name/Company
                    </th>
                    <th>
                        Phone number
                    </th>
                </tr>
                {{#clients}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{number}}</td>
                </tr>
                {{/clients}}
            </table>
        </th>
        <th style="vertical-align: top">
            <div>
                Orders list
            </div>
            <table>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name/Company
                    </th>
                    <th>
                        Date of Order
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
                {{#orders}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{ClientFullName}}</td>
                    <td>{{date}}</td>
                    <td>{{price}}</td>
                </tr>
                {{/orders}}
            </table>
        </th>
    </tr>
</table>
</body>
</html>